{% import "_message.html.twig" as message %}

<div class="card mx-auto shadow-lg" {{ attributes }}>
    <div class="card-header p-2">
        {{ ux_icon('mdi:car-turbocharger', { height: '32px', width: '32px' }) }}
        <strong class="ms-1 pt-1 d-inline-block">Turbo Stream Bot</strong>
        <button {{ live_action('reset')}} class="btn btn-sm btn-outline-secondary float-end">{{ ux_icon('material-symbols:cancel') }} Reset Chat</button>
    </div>
    <div id="chat-body" class="card-body p-4 overflow-auto">
        {% for message in this.messages %}
            {% include '_message.html.twig' with { message, latest: loop.last } %}
        {% endfor %}
        {% if this.stream %}
            {{ message.bot('Thinking...', contentId = 'bot-message-streamed') }}
            <turbo-stream-source src="{{ path('stream_assistant_reply') }}" id="bot-message-stream"></turbo-stream-source>
        {% endif %}
        {% if not this.messages|length %}
            <div id="welcome" class="text-center mt-5 py-5 bg-white rounded-5 shadow-sm w-75 mx-auto">
                {{ ux_icon('mdi:car-turbocharger', { height: '200px', width: '200px' }) }}
                <h4 class="mt-5">Turbo Stream Chat</h4>
                <span class="text-muted">Please ask the bot about the used technologies in this example.</span>
            </div>
        {% endif %}
    </div>
    <div class="card-footer p-2">
        <form class="input-group" {{ live_action('submit:prevent') }}>
            <input data-model="norender|message" type="text" class="form-control border-0" placeholder="Write a message ...">
            <button class="btn btn-outline-secondary border-0">{{ ux_icon('mingcute:send-fill', { height: '25px', width: '25px' }) }} Submit</button>
        </form>
    </div>
</div>
